/* Default Style */
:root {
  --primary-color: #fd6e0a;
  --bg-color: #fff8f3;
  --white: #fff;
  --dark: #181818;
  --dark-50: #474747;
  --dark-30: #757575;
  --dark-20: #a3a3a3;
  --primary-font: 'Space Grotesk', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
p {
  color: var(--dark-30);
  font-size: 1rem;
}
button {
  cursor: pointer;
}

/* Common style */
.primary-btn {
  color: var(--white);
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 36px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
}
.secondary-btn {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 36px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  margin: 0 5px;
}
section {
  margin: 80px auto;
}
.section-title {
  color: var(--dark);
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.section-description {
  text-align: center;
  margin: 20px auto;
}

/* Nav Style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
}
nav h3 {
  font-size: 3rem;
  font-weight: 800;
}
nav h3 span {
  color: var(--primary-color);
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 20px;
  font-size: 1.1rem;
}
nav li > a {
  text-decoration: none;
  color: var(--dark-50);
}

/* Header Style */
.header {
  background-color: var(--bg-color);
}

/* Banner Style */
.banner {
  padding: 30px 50px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner .banner-content {
  max-width: 580px;
}
.banner .banner-content .banner-greeting {
  font-size: 2.5rem;
  color: var(--dark-50);
  margin-bottom: 20px;
}
.banner .banner-content .banner-title {
  font-size: 5rem;
  color: var(--dark);
  margin-bottom: 30px;
}
.banner .banner-content p {
  margin-bottom: 30px;
}
.banner .banner-photo {
  width: 580px;
}

/* Main Style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Style */
.about {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 100px;
}
.about .about-container {
  display: flex;
  justify-content: space-around;
}
.about .about-container .info label {
  font-size: 1.2rem;
  color: var(--dark-30);
}
/* What I Do Section */
.what-i-do .section-description {
  padding: 0 80px;
}
.skills-container {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.skills-container .skill {
  background-color: var(--white);
  box-shadow: 0px 6px 50px 0 rgb(0, 0, 0, 0.06);
  padding: 20px;
}
.skills-container .skill h4 {
  color: var(--dark);
  font-size: 1.3rem;
  margin: 20px 0;
}
.skills-container .skill p {
  font-size: 1rem;
}
/* Resume Section */
.resume-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.resume-column {
  margin: 30px;
}
.resume-column-title {
  color: var(--dark);
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.resume-column hr {
  margin: 20px 0;
}
.resume-item .resume-item-title {
  color: var(--dark-50);
  font-size: 1.3rem;
  font-weight: 800;
}
.resume-item .item-institute {
  color: var(--dark-30);
  font-size: 1.05rem;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 800;
}
.resume-item .description {
  font-size: 1rem;
}
.resume .download-cv {
  text-align: center;
  margin-top: 30px;
}
/* Footer Style */
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 100px 200px;
  gap: 50px;
}
footer .footer-column {
  width: 50%;
}
footer .footer-column .section-title,
footer .footer-column .section-description {
  text-align: left;
}
footer .footer-column .social-links a {
  margin-right: 20px;
}
footer .contact-form {
  margin-top: 20px;
}
footer .contact-form input, textarea {
  color: var(--dark-20);
  display: block;
  padding: 16px 30px;
  margin: 15px 0;
  width: 100%;
  border: none;
}
footer .contact-form > button {
  margin-left: 0;
}